# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\esteb\Insync\esteban.plaza.a@usach.cl\Google Drive\USACH\Proyecto Titulo\LicitacionesLatam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
